body {
    text-align: center;
    display: block;
    border: 2px solid #0452aa;
    padding: 15px;
    width: 35%;
    margin: auto;
    transform: translateY(60%);
}

input {
    background-color: #0452aa;
    color: white;
    padding: 10px 15px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    width: 25%;
}

input:hover {
    opacity: 0.8;
}

p {
    color: #0452aa;
}